h1{

    color:red;
}

h6 {
   color:rebeccapurple;
    font-size: 50px;
}
div {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
div:hover {
    width: 300px;
}